<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ShopEasy{% endblock %}</title>
</head>
<body>

<nav>
    {% if session.user_id is defined %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>
